body {
    background-color: #f8f9fa;
    color: #212529;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 60px;
}

::-webkit-scrollbar {
    width: 12px;
  }
  ::-webkit-scrollbar-thumb {
    background: #4c006a;
    border-radius: 0px;
  }
  ::-webkit-scrollbar-track {
    background-color: #17009c5c;
  }
  
.navbar {
    background-color: #ffffff;
    transition: background-color 0.3s;
}

.footer {
  background-color: #1a1a1a;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  transition: background-color 0.3s, color 0.3s;
  bottom: 0;
  
}

.dark-mode {
    background-color: #343a40;
    color: #ffffff;
}

.dark-mode .navbar {
    background-color: #212529;
    color: #ffffff;
}

.dark-mode .navbar .nav-link {
    color: #ffffff;
}

.dark-mode .footer {
    background-color: #ffffff;
    color: #000000;
}

.dark-mode .footer a {
    color: #ffffff;
}

.dark-mode .navbar-toggler-icon {
    filter: invert(1);
}

#home-img{
    width: 300px;
}

#logo{
    width: 30px;
}
.form-switch {
    margin-left: auto; /* Alinha a checkbox "Dark Mode" à direita */
  }
  
  .navbar-nav {
    margin: 0 auto; /* Centraliza os elementos da navbar */
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
  }
  
  .nav-item {
    margin: 0 10px; /* Adiciona espaçamento entre os itens da navbar */
  }
  
  .row{
    margin: 100px;
  }
  body.dark-mode #logo {
    /* Adicione estilos específicos para o modo escuro aqui */
    filter: invert(1); /* Exemplo: inverte as cores para simular um modo escuro */
  }
  @media (max-width: 1400px) {
    .navbar-nav {
      margin-right: 0 !important; /* Remove a margem direita quando a largura da tela for maior ou igual a 1400px */
    }
  }
  .thicker-hr {
    border-top: 3px solid white;
  }
  